---
import Layout from "../layouts/Main.astro";
import { Content as Content } from "../components/legal-pages/Datenschutz.md";
---

<Layout>
  <div class="prose p-6">
    <Content />
  </div>
</Layout>
