<footer class="bg-dark py-12" id="footer">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <a class="block h5 mb-6 font-semibold text-white" href="#"
              >Coiffeur Dedters</a
            >
            <div
              class="flex flex-col md:flex-row justify-center mx-auto mb-6 gap-y-3"
            >
              <a class="px-4 no-underline text-white" href="#">Impressum</a>
              <a class="px-4 no-underline text-white" href="#">AGB</a>
              <a class="px-4 no-underline text-white" href="#">Datenschutz</a>
            </div>
            <div class="text-center text-white text-sm mb-6">
              <p class="mb-0">© 2024 Coiffeur Dedters.</p>
              <p>All rights reserved</p>
            </div>
            <div class="flex justify-center gap-3 mx-auto mb-6">
              <a
                href="https://www.facebook.com/CoiffeurDedters"
                title="facebook"
                target="_blank"
              >
                <img class="w-7 h-7" src="/images/icons/facebook.svg" alt="" />
              </a>
              <a
                href="https://www.instagram.com/coiffeurdedters/"
                title="instagram"
                target="_blank"
              >
                <img
                  class="w-7 h-7"
                  src="/images/icons/instagram.svg"
                  alt="placeholder"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>